In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [24]:
csv_file = "Resources/Gold Prices 1979-2021.csv"
goldprices_df = pd.read_csv(csv_file)
goldprices_df.head()

,date,price in usd per troy oz,price in eur per troy oz,price in jpy per troy oz,price in gbp per troy oz,price in cad per troy oz,price in chf per troy oz
0,12/29/1978,226,137.1,NaN,110.7,NaN,NaN
1,1/1/1979,226,137.1,NaN,110.7,NaN,NaN
2,1/2/1979,226.8,137.3,"43,164.90",111.5,263.7,359.6
3,1/3/1979,218.6,134,"43,717.90",108,264.4,365.9
4,1/4/1979,223.2,136.8,"43,674.90",110.7,264.1,366.4

In [25]:
goldprices_clean_df = goldprices_df[['date', 'price in usd per troy oz']].copy()
goldprices_clean_df.head()

         date price in usd per troy oz
0  12/29/1978                      226
1    1/1/1979                      226
2    1/2/1979                    226.8
3    1/3/1979                    218.6
4    1/4/1979                    223.2

In [44]:
goldprices_clean_df = goldprices_clean_df.rename(columns={"date": "date_",
                                                          "price_in_usd_per_troy_oz":"price_usd"},)
goldprices_clean_df.head()

       date_ price_usd
0 1978-12-29       226
1 1979-01-01       226
2 1979-01-02     226.8
3 1979-01-03     218.6
4 1979-01-04     223.2

In [39]:
goldprices_clean_df.date_ = pd.to_datetime(goldprices_clean_df.date_)

In [31]:
connection_string = "postgres:Oso1020202!?@localhost:5432/goldprices_db"
engine = create_engine(f'postgresql://{connection_string}')

In [45]:
engine.table_names()

['gold_prices']

In [54]:
goldprices_clean_df.to_sql(name='gold_prices', con=engine, if_exists='append', index=False)

In [55]:
goldprices_clean_df.price_usd = goldprices_clean_df.price_usd.replace(",","",regex = True)
goldprices_clean_df.price_usd = goldprices_clean_df.price_usd.astype(float)